<h1><%= @jedi.username %></h1>
<h2>My Prestige:</h2>
<h3><%= @jedi.prestige.name %></h3>
<h2>My Posts:</h2>
<% if @jedi.posts.count > 0 %>
    <% @jedi.posts.each do |post| %>
        <a href="/posts/:id"><%= post.title %></a>
        <a href="/posts/:id"><%= post.body %></a>
    <% end %>
<% else %>
    <p>You haven't begun your posting journey, yet.</p>
<% end %>