<% if @posts.present? %>
    <table>
    <tr>Posts:</tr>
        <% @posts.each do |post| %>
        <td>
            <a href="/posts/<%= post.id %>"><%= post.title %></a>
        </td>
        <% end %>
    </table>
<% else %>
    <p>There are no posts containing the term(s) <%= params[:query] %>.</p>
<% end %>
